.footer{
    background-color: var(--escuro);
    width: 80%;
    height: 8rem;
}
/* =========Responsividade 450px==================== */
@media (max-width: 450px){
    .footer{
        width: 100%;
    }
}
/* ==========Responsive 1024px====================== */
@media (max-width: 1024px) {
    .footer{
        width: 100%;
    }
    
}
/* ========Responsividade 1440px============ */
@media (max-width: 1440px){
    .footer{
        width: 100%;
    }

}