header{
    width: 80%;
}
header  img{
    height: 5rem;
    
}
header h1{
    width: 100%;
    text-align: center;
    color: var(--claro);
    font-size: 1.6rem;
}
.title{
    display: flex;
    align-items: center;
    background-color: var(--marrom);
    padding-left: 5rem;   
}
header nav{
    background-color: var(--terra);
    height: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav > a{
    color: var(--marrom_avermelhado);
    font-size: 1.6rem;
}



/*============= responsividade 400px=============== */
@media (max-width: 400px){
    header{
        width: 100%;
    }
    .title{
        padding-left: 0;
    }
    header nav{
        padding-left: 0;

    }
    nav > a{
        font-size: 1.4rem;
    }
        
    
}