main{
    width: 80%;
    background-color: var(--cinza);
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color:var(--claro);
    border-radius: 1.5rem;
    margin: 2rem 14rem;
    gap: 1rem;


}
.conteudo h2{
    font-size: 2.4rem;
    margin-top: 2.5rem;
}
.conteudo img{
    border-radius: 1.5rem;
    width: 100rem;
    height: 50rem;
}
.conteudo p{
    font-size: 1.6rem;
    padding: 1.5rem;
}

/* =========Responsividade 450px==================== */
@media (max-width: 450px){
    main{
        width: 100%;
    }
    .conteudo{
        margin: 2rem 3rem;
    }
    .conteudo img{
        width: 90%;
        height: 50%;
    }
}
/* =========Responsividade 1024px==================== */
@media (max-width: 1024px){
    main{
        width: 100%;
        
    }
    .conteudo{
        margin: 5rem 7rem;
    }
    .conteudo img{
        width: 90%;
        height: 50%;
    }
}
/* ========Responsividade 1440px============ */
@media (max-width: 1440px){
    main{
        width: 100%;
        
    }
    .conteudo{
        margin: 5rem 7rem;
    }
    .conteudo img{
        width: 90%;
        height: 50%;
    }
}