*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
html{
    font-size: 62.5%
}
h1,h2, nav > a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ==========================HEARDER========================== */
header{
    width: 80%;
}
header  img{
    height: 5rem;
    
}
header h1{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.6re,;
}
.title{
    display: flex;
    align-items: center;
    background-color: #987b5d;
    padding-left: 5rem;   
}
header nav{
    background-color: #f5deb3;
    height: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
nav > a{
    color: brown;
    font-size: 1.6rem;
}
/* ===========================MAIN=========================== */
main{
    width: 80%;
    background-color:rgb(235, 235, 235);
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    margin: 2rem 14rem;
    gap: 1rem;


}
.conteudo h2{
    font-size: 2.4rem;
    margin-top: 2.5rem;
}
.conteudo img{
    border-radius: 1.5rem;
    width: 100rem;
    height: 50rem;
}
.conteudo p{
    font-size: 1.6rem;
    padding: 1.5rem;
}
/* ==================footer============================= */
.footer{
    background-color: black;
    width: 80%;
    height: 8rem;
}